.why {
    font-family: "Raleway", sans-serif;
    margin: 2rem auto;
    padding: 4%;
    min-height: 250px;
    min-width: fit-content;
    text-align: left;
    border-radius: 0.375rem;
    columns: auto 2;
    color: white;
  }
  
  .why a {
    color: white;
    text-decoration: none;
  }
  
  .why a:hover {
    color: white;
    text-decoration: underline;
    opacity: 90%;
  }
  
  .stats {
    text-align: left;
  }
  
  .stats a {
    opacity: 20%;
  }
  
  .stats li {
    font-size: 24px;
  }