.jobCard {
    background-color: #203a43;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: lightgrey;
    flex: 0 0 auto;
    padding: 20px 0;
    height: auto;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  
  .jobCard .card-title {
    font-weight: 600;
    word-wrap: normal;
  }
  
  .jobCard .card-subtitle {
    margin: 5px 0 10px;
  }
  
  .jobCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }