.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    color: white;
  }
  
  .name {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  
  .header .name {
    padding-left: 2rem;
    margin: 3rem 0;
    font-size: 10rem;
  }
  
  .frontpage-form {
    margin: 5rem auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-size: x-large;
  }
  
  .frontpage-form .form-control {
    width: auto;
    text-align: center;
    font-size: x-large;
    margin: 0 10px;
    padding: 0;
    padding-bottom: 4px;
    background: none;
    color: white;
    border: none;
    border-radius: 0%;
    border-bottom: dashed 2px;
  }
  
  .frontpage-form .form-control:focus {
    box-shadow: none;
  }
  
  .frontpage-form .form-control::placeholder {
    color: white;
    opacity: 60%;
    text-align: center;
  }
  
  .frontpage-form .btn {
    color: white;
    margin: auto 0;
  }
  
  .content {
    flex-grow: 1;
    padding: 3% 0;
    width: 80%;
    background-color: rgb(255, 255, 255, 0.7);
  }
  
  .job-listings {
    padding: 0 5%;
    width: 100%;
    min-height: 20rem;
    text-align: start;
    color: #0f2027;
  }
  
  .jobs {
    margin: 20px 0;
  }