.App {
  text-align: center;
  color: white;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,h2,h3,h4,h5 {
  font-family: "Nunito", sans-serif;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  height: 20%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  color: white;
  
}

.name {
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
  text-shadow: #0F2027;
  font-size: 10rem;
}

.dark-glassy { 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgb(0, 0, 0, 0.3);
  color: rgb(255, 255, 255, 0.7)
  
}

.frontpage-form {
  margin: 3rem auto;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Nunito', sans-serif;

}

.frontpage-form .form-control {
  width: auto;
  text-align: center;

  margin: 0 10px;
  padding: 0;
  padding-bottom: 4px;
  background: none;
  color: white;
  border: none;
  border-radius: 0%;
  border-bottom: dashed 2px;
}

.frontpage-form .form-control:focus{
  box-shadow: none;

}


.frontpage-form .form-control::placeholder {
  color: white;
  opacity: 60%;
  text-align: center;
}

.frontpage-form .btn {
  color: white;
  margin: auto 0;
}

.job-listings {
  padding: 5% 10%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: start;
  color: #0F2027;
}