@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Move the element upward */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Reset position */
  }
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}


ul {
  list-style-type: circle;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

.bold {
  font-weight: bold;
}

.nav-link {
  width: 10rem;
}

.navbar .mainNav {
  width: 100%;
  margin: 0 auto;
  justify-content: center
}

.navbar .employerLink {
  position: absolute;
  right: 0;
  justify-content: end;
  border-top: none;
}
.navbar-collapse.show {
  justify-content: center;
}

.navbar-collapse.show .mainNav,  .navbar-collapse.show .employerLink,
.navbar-collapse.collapsing .mainNav, .navbar-collapse.collapsing .employerLink {
  position: relative;
  justify-content: center;
  width:  -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

.navbar-collapse.show .employerLink, .navbar-collapse.collapsing .employerLink {
  border-top: 1px solid #2C5364;
  border-width: 500%;
}

.App {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #0F2027;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2312252d' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23152b33' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23193038' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231c353e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23203A43' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23233f49' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23254450' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23274957' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%232a4e5d' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%232C5364' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* Background by SVGBackgrounds.com */

  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  /* font-weight: 600; */
}

h1 {
  font-weight: 600;
}

button, .btn {
  font-family: 'Nunito', sans-serif;
}

.btn-outline-secondary {
  color: white !important;
  border-color: white !important;
}

.slogan {
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  color: white;

}

.name {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.header .name {
  padding-left: 2rem;
  margin: 3rem 0;
  font-size: 10rem;

}


.nunito {
  font-family: "Nunito", sans-serif;
}

.dark-glassy {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgb(0, 0, 0, 0.3);
  color: rgb(255, 255, 255, 0.7)
}

.why {
  font-family: 'Raleway', sans-serif;
  margin: 2rem auto;
  padding: 24px;
  width: 80%;
  min-height: 250px;
  text-align: center;
  border-radius: 0.375rem;
  columns: auto 2;
  color: white;
}


.why a {
  color: white;
  text-decoration: none;
}

.why a:hover {
  color: white;
  text-decoration: underline; 
  opacity: 90%;
}


.stats {
  text-align: left;
}

.stats a {
  opacity: 20%;
}

.stats li {
  font-size: 18px;
}


.frontpage-form {
  margin: 5rem auto;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-size: x-large;

}

.frontpage-form .form-control {
  width: auto;
  text-align: center;
  font-size: x-large;
  margin: 0 10px;
  padding: 0;
  padding-bottom: 4px;
  background: none;
  color: white;
  border: none;
  border-radius: 0%;
  border-bottom: dashed 2px;
}

.frontpage-form .form-control:focus {
  box-shadow: none;

}


.frontpage-form .form-control::placeholder {
  color: white;
  opacity: 60%;
  text-align: center;
}

.frontpage-form .btn {
  color: white;
  margin: auto 0;
}

.content {
  flex-grow: 1;
  padding: 3% 0;
  width: 80%;
  background-color: rgb(255, 255, 255, 0.7);
}

.job-listings {
  padding:0 5%;
  width: 100%;
  text-align: start;
  color: #0F2027;
}

.jobs {
  margin: 20px 0;
}

.jobCard {
  background-color: #203A43;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: lightgrey;
  flex: 0 0 auto;
  padding: 20px 0;
  height: auto;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.jobCard .card-title {
  font-weight: 600;
  word-wrap: normal;
}

.jobCard .card-subtitle {
  margin: 5px 0 10px;
}

.jobCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.modal-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: rgb(220,220,220);
}

.job-link {
  text-decoration: none;
}

.footer {
  padding: 2% 0;
}